<ion-view view-title="Forgot password" class="signin" >
<div class="bar bar-header pinro-header header-shadow">
 <button class="button button-icon icon ion-ios-arrow-back" ui-sref="signin"></button>
  <div class="h1 title">Forgot Password</div>
</div>
	<ion-content class="has-header forgot-password">


<h5 class="light-font">We will send reset link to your email address. </h5>

		<div class="signin-input-holder">

			<ion-list>
				<ion-item class="item-input ">
					<i><img src="img/icons/icon_email.svg"></i>
					<input type="text" placeholder="Email">

				</ion-item>
			</ion-list>

		</div>

		<div class="footer-button">
			<button class="button button-dark button-block button-round animated bounceIn" ui-sref="app.editorial">Reset Password</button>
      
		</div>
		</div>



	</ion-content>
</ion-view>