<ion-view view-title="Acessar" class="signin" hide-nav-bar="true">

	<ion-content>

		<div class="header">
			<img src="img/p-i-n-r-o.svg" width="145px">
			<h5>Mais de 1000 itens em promoção para venda ou revenda.</h5>
		</div>

		<div class="signin-input-holder">

			<ion-list>
				<ion-item class="item-input ">
					<i><img src="img/icons/icon_email.svg"></i>
					<input type="text" placeholder="Email">

				</ion-item>
				<ion-item class="item-input ">
					<i><img src="img/icons/icon_lock.svg"></i>
					<input type="password" placeholder="********">

				</ion-item>

			</ion-list>

      <h5 class="regular-font" ui-sref="forgot-password">Esqueceu a senha ?</h5>

		</div>

		<div class="footer-button">
			<button class="button button-dark button-block button-round animated bounceIn" ui-sref="app.editorial">Acessar</button>
      <h5 class="light-font"  ui-sref="signup">Não tem conta ? <span class="semibold-font">Criar uma conta</span></h5>
		</div>
		</div>



	</ion-content>
</ion-view>