<ion-view view-title="Onboarding" class="onboarding" hide-nav-bar="true" scroll="false">

	<ion-pane>

		<div class="image-slider-holder">
            <div class="animate"> <img src="img/banner3x.jpg">
</div>
		</div>

        <div class="bottom">
            <img class="animated fadeIn" src="img/p-i-n-r-o.svg" width="100px">

            <ion-slides slider="slider">
                <ion-slide-page>
                    <h5>Produtos e cosméticos alta qualidade</h5>
                </ion-slide-page>
                <ion-slide-page>
                    <h5>Outro texto apresentativo.</h5>
                </ion-slide-page>
                <ion-slide-page>
                    <h5>Talvez uma promoção sei lá !</h5>
                </ion-slide-page>
                <ion-slide-page>
                    <h5>Convidando o cliente a acessar.</h5>
                </ion-slide-page>
                
            </ion-slides>
        </div>

                <button class="button button-light button-icon skip-button animated fadeInRight" ui-sref="signin" ><img src="img/icons/icon_arrow.svg"></button>


	</ion-pane>
</ion-view>