<ion-view view-title="Step 2" class="payment">
	
	<ion-content class="step2">

        <h5>Payment</h5>
        <div class="line-holder">
                <img src="img/icons/top-line-middle.svg" width="100%">
                <button class="button button-dark button-round button-outline">Scan card</button>
        </div>

        
  <div class="card-input-holder">
  
  <ion-list>
      <ion-item class="item-input ">
          
    <input type="text" placeholder="Card Number">

      </ion-item>
      <ion-item class="item-input ">
          
    <input type="text" placeholder="Cardholder Name">

      </ion-item>
      <ion-item class="item-input item-select">
          
    <div class="input-label">MM</div>
    <select placeholder="MM">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
            </select>

      </ion-item>
      <ion-item class="item-input item-select">
          
    <div class="input-label">YY</div>
    <select placeholder="YY">
                <option value="01">01</option>
                <option value="02">02</option>
                <option value="03">03</option>
                <option value="04">04</option>
            </select>

      </ion-item>
      <ion-item class="item-input">
        
    <input type="text" placeholder="CVC">

      </ion-item>
  </ion-list>

  </div>
  
  <div class="footer-button">
     <button class="button button-dark button-block button-round button-outline " ui-sref="app.payment_step3">Next</button>
  </div>
</div>


		
	</ion-content>
</ion-view>