<ion-view view-title="Step 1" class="payment">
	
	<ion-content class="step1 has-footer">

        <h5>Shipping Address</h5>
        <div class="line-holder">
                <img src="img/icons/top-line-start.svg" width="50%">
        </div>

        
  <div class="card-input-holder">
  
  <ion-list>
      <ion-item class="item-input ">
          
    <input type="text" placeholder="First Name">

      </ion-item>
      <ion-item class="item-input ">
          
    <input type="text" placeholder="Last Name">

      </ion-item>
      <ion-item class="item-input ">
          
    <input type="text" placeholder="Phone">

      </ion-item>
      <ion-item class="item-input ">
          
    <input type="text" placeholder="Address">

      </ion-item>
      <ion-item class="item-input ">
          
    <input type="text" placeholder="Zip">

      </ion-item>
      <ion-item class="item-input ">
          
    <input type="text" placeholder="City">

      </ion-item>
      
          
    
  </ion-list>

  </div>

<div class="footer-button">
     <button class="button button-dark button-block button-round button-outline " ui-sref="app.payment_step2">Next</button>
</div>
</div>


		
	</ion-content>
</ion-view>