<ion-view view-title="Success" class="payment" hide-back-button="true">
	
	<ion-pane class="step3 has-header">

        <h5>Order accepted</h5>
        <div class="line-holder">
                <img src="img/icons/top-line-end.svg" width="50%">
        </div>

        
  <div class="content">
      <img class="animated bounceIn" src="img/icons/icon-success-outline.svg">
      <h2 class="font-regular">Congratulations!</h2>
      <h5>Your order has been accepted.</h5>
  </div>

<div class="footer-button">
     <button class="button button-dark button-block button-round " ng-click="goToMain()">Got It!</button>
</div>
</div>


		
	</ion-pane>
</ion-view>