<ion-view view-title="Entrar" class="signin" >
<div class="bar bar-header pinro-header header-shadow">
 <button class="button button-icon icon ion-ios-arrow-back" ui-sref="signin"></button>
  <div class="h1 title">Acessar as Promoções</div>
</div>
	<ion-content class="has-header">


		<div class="signin-input-holder">

			<ion-list>
				<ion-item class="item-input ">
					<i><img src="img/icons/icon_email.svg"></i>
					<input type="text" placeholder="Email">

				</ion-item>
				<ion-item class="item-input ">
					<i><img src="img/icons/icon_lock.svg"></i>
					<input type="password" placeholder="********">

				</ion-item>
				<ion-item class="item-input ">
					<i><img src="img/icons/icon_lock.svg"></i>
					<input type="password" placeholder="********">

				</ion-item>
                <ion-item class="item-input ">
					<i><img src="img/icons/icon_email.svg"></i>
					<input type="text" placeholder="Usuario">

				</ion-item>

			</ion-list>

		</div>

		<div class="footer-button">
			<button class="button button-dark button-block button-round animated bounceIn" ui-sref="app.editorial">Criar a conta</button>
      <h5 class="light-font" ui-sref="signin">Você já tem conta ? <span class="semibold-font">Acessar</span></h5>
		</div>
		</div>



	</ion-content>
</ion-view>