<ion-modal-view ng-controller="EditorialCtrl" class="settings">

<ion-header-bar class="pinro-header header-shadow">
    
      <button class="button button-clear text-button" ng-click="closeEditProfileModal()">Close</button>
    <h1 class="title">Settings</h1>
    <button class="button button-light button-icon text-button text-button-right" ng-click="closeEditProfileModal()"><i class="icon ion-android-camera"></i></button>
  </ion-header-bar>

        
	<ion-content>


<div class="profile-img">
    <img src="img/profile.png">
</div>


<ion-list>
    
    <ion-item class="item-divider">
        Info
    </ion-item>
    <ion-item class="item-input ">
        <span class="input-label">First Name</span>
        <input type="text" ng-model="user.first_name">
    </ion-item>
    <ion-item class="item-input ">
        <span class="input-label">Last Name</span>
        <input type="text" ng-model="user.last_name">
    </ion-item>
    <ion-item class="item-input ">
        <span class="input-label">Phone Number</span>
        <input type="text" ng-model="user.phone">
    </ion-item>
    


    <ion-item class="item-divider">
        Shipping address
    </ion-item>

    <ion-item class="item-input item-floating-label">
        <span class="input-label">Address Line 1</span>
        <input type="text" ng-model="user.address_line1" placeholder="Address Line 1">
    </ion-item>
    <ion-item class="item-input item-floating-label">
        <span class="input-label">Address Line 2</span>
        <input type="text" placeholder="Address Line 2">
    </ion-item>
    <ion-item class="item-input item-floating-label">
        <span class="input-label">City</span>
        <input type="text" placeholder="City">
    </ion-item>
    <ion-item class="item-input item-floating-label">
        <span class="input-label">Postcode</span>
        <input type="text" placeholder="Postcode">
    </ion-item>
    <ion-item class="item-input item-floating-label">
        <span class="input-label">Country</span>
        <input type="text" placeholder="Country">
    </ion-item>
    
    
			
</ion-list>

<div class="footer-button">
    <button class="button button-dark button-block button-round button-outline" ng-click="closeEditProfileModal()">Save Changes</button>
    <button class="button button-assertive button-block button-round" ng-click="closeEditProfileModal()">Delete Account</button>
</div>

</ion-content>
</ion-modal-view>